.container {
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
}
.formContainer {
  display: flex;
  width: 90%;
  height: 90%;
  max-height: 750px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}
.formContainer p {
  width: 85%;
  padding: 0 5px;
  color: #343a40;
  font-weight: 500;
}
.formContainer h2 {
  margin-bottom: 5px;
  width: 90%;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff491f;
  text-align: center;
}
.formGroup {
  width: 100%;
  height: 30%;
}
.group {
  display: flex;
  width: 100%;
  height: 45%;
  justify-content: space-between;
}
.iptEspecie {
  height: 45%;
  width: 100%;
}
.iptEspecie input {
  width: 95%;
  height: 50%;
  padding: 0 14px;
  border-radius: 10px;
  border: 1px solid #3333336e;
}

.iptEspecie span {
  color: #ff491f;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
}

.ipt {
  display: flex;
  flex-direction: column;
  width: 47%;
  height: 100%;
}
.ipt input {
  width: 90%;
  height: 50%;
  padding: 0 14px;
  border-radius: 10px;
  border: 1px solid #3333336e;
}
.ipt input:hover,
.iptEspecie input:hover {
  border: 1px solid #ff491f;
}

.ipt input:focus {
  caret-color: #ff491f;
  outline: none;
}
.iptEspecie input:focus {
  outline: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.iptEspecie span:hover {
  text-decoration: underline;
  border: 2px solid #ff5c38;
  color: #ff491f;
  cursor: pointer;
}

.iptEspecie ul {
  list-style: none;
  position: relative;
  width: 98%;
  padding: 0 3px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.iptEspecie ul::-webkit-scrollbar {
  width: 8px;
}
.iptEspecie ul::-webkit-scrollbar {
  width: 8px;
}

.iptEspecie ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.iptEspecie ul::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.iptEspecie ul {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
.iptEspecie li {
  padding: 10px;
  cursor: pointer;
}

.iptEspecie li:hover {
  background-color: #f5f5f5;
}

.inputColor {
  color: #ff491f;
  font-weight: 700;
  cursor: default;
}

.detail {
  width: 100%;
  height: 40%;
}

.detailRow {
  display: flex;
  gap: 25px;
}
.detailItem {
  display: flex;
  flex-direction: column;
  padding: 10px 2px;
  width: 30%;
}
.detailItem input {
  width: 95%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #3333336e;
  padding: 0 10px;
}
.detailItem input:hover {
  border: 1px solid #ff491f;
}

.detailItem input:focus {
  border: 1px solid #ff491f;
  caret-color: #ff491f;
  outline: none;
}
.detailItem p {
  padding: 2px 0;
}

.btnGroup {
  width: 100%;
  height: 7%;
}

.btnGroup button {
  width: 55%;
  height: 100%;
  background-color: #ff491f;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  caret-color: transparent;
}

.btnGroup button:hover {
  background-color: #ff5c38;
}

.btnOpen {
  width: 100%;
  height: 100%;
  text-align: center;
}
.btnOpen button {
  width: 80%;
  height: 75%;
  background-color: #391497;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  caret-color: transparent;
}
.btnOpen button:hover {
  background-color: #492a96;
}
.detailItens span {
  color: #ff491f;
  font-weight: 700;
  cursor: pointer;
}
