.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(245, 249, 252, 1);
  caret-color: transparent;
}

.containerinfo {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.textContainer {
  width: 100%;
  height: 100%;
}

.noConteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 35%;
}

.noConteudo h1 {
  margin-left: 30px;
  text-transform: inherit;
  font-size: 1.2;
  color: #391497;
  
}

.info {
  background-color: #ffff;
  height: 60%;
  width: 90%;
  border-radius: 10px;
box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem rgba(14, 34, 56, .07);

}




@media (max-width: 1000px) {

  .allContainer {
    display: flex;
    flex-direction: column;
    height: 88%;
    width: 80%;
  }

  .allContainer h1 {
    font-size: 2em;
  }

  .allContainer h3 {
    font-size: 1em;
  }

  .allContainer span {
    font-size: 1em;
    font-weight: bold;
  }


  .textContainer {
    width: 100%;
  }

  .projectContainer {
    width: 100%;
    margin-top: 15px;
  }
}