@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&display=swap');


*{
    background-color: #f5f5f5;
}
.login_container {
    width: 500px;
    margin: 0 auto;
    padding: 3em;
    background-color:#f5f5f5;
}


.login_section {
    width: 50%;
    height: 90% ;
    margin: 0 auto;
    padding: 3em;
    background: linear-gradient(90deg, rgb(222, 154, 86) 0%, rgb(227, 210, 143) 35%, rgb(130, 169, 101) 100%);
    font-family: 'Poppins', sans-serif;
    font-style:bold;
    
}

.login_container h1 { 
    margin-bottom: 0.5em;
    color:#333333;
    background-color: transparent;
    font-size: 25px; 
}

.superdiv {
    background-color: #f5f5f5;
    display: flex;
    padding: 3em;
    justify-content: center;
    width: 850px;
    height: 500px;
    margin: 0 auto;
    padding: 3em; 
    position: relative;
}

.superdiv img {
    width:320px;
    height: 75px;
    background-color: transparent;
}

h1 {
    color: #ffff;
    background-color: transparent;
}

p{
    color: #333333;
    font-size: 12px;
    text-decoration: underline;
}


.icon_teste{
    opacity: 0.5;

}


.btn{
    background-color: #FF7300;
    color: #fff;
    font-weight: bold;
    padding: 0.6em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 15px;
    border:none;
    cursor: pointer;
}

.btn:hover{
    background-color: #ffbb33;
    color: #222;
    font-weight: bold;
}
