.container {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  width: 90%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
